<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @user.phone_number %>
</p>

<p>
  <strong>Notifications Enabled</strong>
  <%= @user.notifications_enabled %>
</p>

<% if current_user.admin? %>
<p>
  <strong>Roles:</strong>
  <% first_role = true %>
  <% @user.roles.each do |role| %>
    <%= ", " unless first_role%><%= role.name %>
    <% first_role = false %>
  <% end %>
</p>
<% end %>

<p>
<%= link_to 'Subscriptions', subscriptions_path %>
</p>

<p>
<%= link_to 'Edit Details', edit_user_path(@user) %> | <%= link_to 'Change Email or Password', edit_user_registration_path %> 
</p>

<% if current_user.admin? %>
  <p>
  <%= link_to('All Users', users_path) %>
  </p>
<% end %>
